<!-- Line Chart -->
Line Chart
<app-chart [chartConfiguation]="lineChartOptions"></app-chart>
<!-- Spline Chart -->
Spline Chart
<app-chart [chartConfiguation]="spLineChartOptions"></app-chart>
<!-- Column Chart -->
Column Chart
<app-chart [chartConfiguation]="columnChartOptions"></app-chart>
<!-- stackedColumnChart -->
Stacked Column Chart
<app-chart [chartConfiguation]="stackedColumnChart"></app-chart>
Mixed Column Chart
<app-chart [chartConfiguation]="mixedColumnChart"></app-chart>
Pie Chart
<app-chart [chartConfiguation]="pieChart"></app-chart>

Donut Chart
<app-chart [chartConfiguation]="donutChart"></app-chart>